.customInput {
    width: 300px;
    padding: 7px 10px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: .3s;

    &:focus {
        border: 2px solid #32b768;
    }
}