.dish_menu {
  width: 100%;
  margin: 80px auto;
  .dish_menu__inner {
    width: 100%;
    .dish_menu__title {
      margin: 70px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        color: #32b768;
        font-size: 40px;
        font-weight: 700;
      }

      p {
        font-size: 20px;
        color: #4a4e69;
        font-weight: 700;
      }
    }

    .dish_menu__list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;

      .dish {
        width: 30%;

        display: flex;
        flex-direction: column;
        gap: 15px;

        padding: 20px 30px;
        background: #f3f3f3;
        border: 2px solid #4a4e69;
        border-radius: 20px;
        box-shadow: 0 4px 4.25px 0.75px rgba(0, 0, 0, 0.13);

        .dish__image {
          display: flex;
          justify-content: center;
          height: 30%;
          img {
            width: 100%;
          }
        }

        .dish__title {
          display: flex;
          flex-direction: column;
          gap: 7px;
          h3 {
            color: #4a4e69;
            font-weight: 700;
          }

          p {
            color: #4a4e69;
            font-weight: 700;
          }
        }
      }
    }
  }
}
