.restaurant {
  width: 100%;
  margin: 100px 0;

  .restaurant__inner {
    .restaurant__info {
      display: flex;
      align-items: center;

      .info__image {
        width: 70%;
        img {
          width: 90%;
        }
      }

      .info__title {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
          color: #4a4e69;
          font-weight: 700;
        }
        h2 {
          font-size: 42px;
          color: #32b768;
        }
      }
    }

    .restaurant__menu {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;

      .menu__title {
        h2 {
          color: #32b768;
          font-size: 32px;
        }
      }

      .restaurant__menu_block {
        width: 100%;
        .menu__list {
          display: flex;
          flex-direction: column;
          .menu__list__title {
            margin: 30px 0;
            font-size: 26px;
            color: #4a4e69;
          }
          .menu__list__items {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
          }

          .item {
            width: 30%;
            min-height: 400px;

            display: flex;
            flex-direction: column;
            gap: 15px;

            padding: 10px 20px;
            background: #f3f3f3;
            border: 2px solid #4a4e69;
            border-radius: 20px;
            box-shadow: 0 4px 4.25px 0.75px rgba(0, 0, 0, 0.13);
            transition: 0.3s;

            &:hover {
              background-color: transparent;
              border: 2px solid #32b768;

              .item__title {
                h3 {
                  color: #32b768;
                }
              }
            }

            .item__image {
              display: flex;
              justify-content: center;
              height: 30%;
              img {
                width: 80%;
              }
            }

            .item__title {
              display: flex;
              flex-direction: column;
              height: 120px;
              gap: 7px;
              h3 {
                transition: 0.3s;
                color: #4a4e69;
                font-weight: 700;
              }

              p {
                color: #4a4e69;
              }
            }

            .item__subtitle {
              padding: 10px 0;
              display: flex;
              align-items: center;
              justify-content: space-between;

              border-top: 1px double #4a4e69;

              .item__actions {
                display: flex;
                align-items: center;
                gap: 10px;

                button {
                  cursor: pointer;
                  background-color: transparent;
                  border: none;

                  svg {
                    font-size: 24px;
                    color: #32b768;
                  }
                }
              }
            }
          }
        }
      }
    }
    .restaurant_reviews {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      margin-top: 150px;

      .reviews__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        h2 {
          color: #32b768;
          font-size: 42px;
        }
        p {
          color: #4a4e69;
          font-weight: 700;
          font-size: 20px;
        }
      }

      .reviews__list {
        padding: 30px 20px;
        height: 80vh;
        overflow-y: scroll;
        width: 80%;
        border: 2px solid #4a4e69;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 35px;

        .review {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          p {
            font-weight: 700;
          }
          .review__info {
            .review__userInfo {
              .review__name {
                color: #32b768;
              }
            }

            .review__body {
              h3 {
                font-size: 22px;
              }
              p {
                font-size: 20px;
              }
            }

            .review_created_at {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }

          .review__actions {
            button {
              svg {
                font-size: 35px;
                color: #4a4e69;
                transition: .3s;

                &:hover {
                  color: red;
                }
              }
            }
          }
        }
      }
      .reviews_form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        width: 60%;

        h2 {
          color: #32b768;
          font-size: 32px;
        }

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          width: 100%;

          textarea {
            padding: 10px;
            width: 100%;
            height: 170px;
            font-size: 18px;
            resize: none;
            border: 2px solid #ccc;
            outline: none;
            border-radius: 10px;
            // box-shadow: 0 4px 4.25px 0.75px rgba(0, 0, 0, 0.13);
            transition: 0.3s;

            &:focus {
              border: 2px solid #32b768;
            }
          }
        }
      }
    }
  }
}
