.booking {
  width: 100%;
  margin: 70px 0;

  .booking__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .booking__title {
      padding: 20px 0;
      border-bottom: 2px solid #32b768;
      h1 {
        font-size: 38px;
        color: #32b768;
      }

      p {
        width: 50%;
        color: #4a4e69;
        font-weight: 700;
      }
    }

    .booking__block {
      display: flex;
      justify-content: space-between;
      gap: 60px;
      .booking__image {
        position: relative;
        text-align: center;
        img {
          width: 100%;
        }

        svg {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: auto;
          opacity: 0.4;
          cursor: pointer;
        }
      }

      .booking__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 30%;
        min-height: 500px;
        padding: 20px;

        border-radius: 15px;
        background-color: #f3f3f3;
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;

          .booking__form__table {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 10px;

            p {
              width: 70%;
              color: #4a4e69;
              font-weight: 700;
            }
          }
        }

        .booking__form__actions {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 15px;

          button {
            width: 40%;
          }
        }
      }
    }
  }
}
