.restaurants {
  width: 100%;
  margin: 80px 0;

  .restaurants__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .restaurants__title {
      h1 {
        font-size: 42px;
        color: #32b768;
      }

      p {
        font-size: 20px;
        color: #4a4e69;
        font-weight: 700;
      }
    }

    .restaurants__list {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .restaurant {
        background: #f3f3f3;
        padding: 20px;
        border: 2px solid #4a4e69;
        border-radius: 15px;
        box-shadow: 0 4px 4.25px 0.75px rgba(0, 0, 0, 0.13);

        .restaurant__info {
          display: flex;
          gap: 15px;
          .info__image {
            img {
              width: 300px;
            }
          }

          .info__title {
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              font-weight: 700;

              span {
                font-weight: 400;
              }
            }

            a {
              display: flex;
              align-items: center;
              gap: 5px;
              color: #32b768;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
