.cart {
  width: 100%;
  margin: 100px auto;
  .cart__inner {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    background: #f3f3f3;
    border-radius: 20px;
    box-shadow: 0 4px 4.25px 0.75px rgba(0, 0, 0, 0.13);
    min-height: 700px;

    .cart__info {
      display: flex;
      justify-content: space-between;
      width: 100%;

      gap: 40px;

      .cart__list {
        display: flex;
        flex-direction: column;
        border-right: 2px solid #ccc;
        min-width: 60%;

        .cart__list__title {
          text-align: center;
          h2 {
            color: #32b768;
          }
        }

        .cart__list__items {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }
      }

      .cart__info__actions {
        display: flex;
        flex-direction: column;
        gap: 20px;

        background-color: #fff;
        border-radius: 15px;
        padding: 20px;
        width: 40%;
        h2 {
          color: #32b768;
        }

        .cart__actions__btns {
          display: flex;
          flex-direction: column;
          gap: 20px;
          button {
            width: 70%;
            background-color: #ccc;
            padding: 10px;
            border-radius: 10px;
            border: none;
            outline: none;
            transition:  .3s;

            &:hover {
              background-color: #32b768;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
