.profile {
  width: 100%;
  margin: 80px auto;

  .profile__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .profile__inner__title {
      h1 {
        color: #32b768;
      }
    }

    .profile__block {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      border-radius: 20px;

      .profile__user {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 40px 20px;
        border-bottom: 2px solid #32b768;

        background: #f3f3f3;
        border-radius: 15px;
        box-shadow: 0 4px 4.25px 0.75px rgba(0, 0, 0, 0.13);

        .profile__info {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .profile__info__code {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
              font-size: 16px;
              color: #4a4e69;
            }
          }

          div {
            display: flex;
            align-items: center;
            gap: 10px;
          }

          p {
            font-weight: 700;
            font-size: 20px;
          }

          input {
            width: 70%;
            border: none;
            outline: none;
            font-weight: 700;
            font-size: 20px;
            padding: 3px 0;
            border-radius: 3px;
            border-bottom: 2px solid #4a4e69;
          
            background-color: #f3f3f3;

            &:first-child {
              font-size: 24px;
            }

            &:disabled {
              border: none;
              outline: none;
              background-color: transparent;
            }
          }
        }

        .profile__actions {
          display: flex;
          align-items: center;
          gap: 15px;

          button {
            width: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            gap: 7px;
            font-size: 16px;

            &:first-child:hover {
              color: #32b768;
            }

            &:last-child:hover {
              color: red;
            }

            svg {
              font-size: 22px;
            }
          }
        }
      }

      .profile__order {
        width: 65%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        border-bottom: 2px solid #32b768;
        padding: 20px;
        background: #f3f3f3;
        border-radius: 15px;
        box-shadow: 0 4px 4.25px 0.75px rgba(0, 0, 0, 0.13);

        .profile__order__list {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .profile__order__item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
              color: #32b768;
            }

            .profile__order__item__actions {
              button {
                color: red;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
