.header {
  width: 100%;
  padding: 24px 0;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: 0.5s;

  &.scrolled {
    padding-top: 0 !important;
  }

  .header__inner {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    transition: 0.5s;

    padding: 20px 0;
    margin: 0 auto;
    border-radius: 17px;
    box-shadow: 0 4px 4.25px 0.75px rgba(0, 0, 0, 0.13);

    &.scrolledInner {
      width: 100% !important;
      border-radius: 0px !important;
      padding: 25px 0 !important;
    }

    .header__nav {
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        color: #4a4e69;
        font-weight: 700;
        transition: 0.3s;

        &:hover {
          color: #32b768;
        }
      }
    }

    .header__profile {
      width: 7%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #32b768;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;
        color: #32b768;
      }
    }
  }
}
